*{
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

nav{
	text-transform: capitalize;
	background-color: #303F9F;
}

nav ul a{
	padding: 5px 15px;
}


nav ul a:hover{
	background-color: white;
	color: #303F9F;
}

.side-nav{
	font-family: 'Lato', sans-serif;
	text-transform: capitalize;
	background-color: #303F9F;
}

#sidenav-overlay{
	background-color: rgba(0,0,0,0.1);
}

#about{
	background-image: url("https://source.unsplash.com/feXpdV001o4/1600x900");
}

#about .card{
	background-color: rgba(92, 107, 192, 0.2);
	width:60%;
	margin: auto;
}
